
body {
    text-align: center;
}

.body-hx {
    margin: 30px;
    background: #11b5bf;
}

.body-sv {

    background: white;
    color: black;
}

.h1 {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    /* position: absolute; */
    top: 25%;
    width: 100%;
    color: white;
}


.logo-sv {
    width: 170px;
    height: auto;
    position: absolute;
    left: 0px;
    top: 10px;
    text-align: center;
    margin: 10px;
}

.logo {
    width: 170px;
    height: auto;
    text-align: center;
    filter: brightness(0) invert(1);
    margin: 10px;
}

.body-hx .videos {
    border-radius: 30px;
    border:1px solid white;
}

.videos {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* flex-direction: row; */
    background:#eee;    
    border:1px solid rgba(0,0,0,.5);
    border-radius: 5px;
}



.videos .video {
    
    /* background: yellow; */
    /* border: 1px solid red; */
    margin: 10px;

    /* width: 600px;
    height: auto; */
}
