
.text-2lines-truncate{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.section{
    margin-bottom:10px;
}
.section img{
    width: 100%;
}
.section.list-wrap{
    padding:0 50px;
    border:solid 1px #eee;
    background-color:#fff;
}

.section.list-wrap .title{
    padding:30px 0 15px 0;
}

.section.list-wrap .col-xs-12>.media{
    padding: 20px 0;
    border-bottom:solid 1px #eeeeee;
}

.section.list-wrap .col-xs-12:first-child>.media{
    border-top:solid 1px #eeeeee;
}

.section.list-wrap .media img{
    /* width: 200px;
    height: 143px; */
    width: 168px;
    height: 120px;
}
.section.list-wrap .media .media-heading{
   margin:16px 0 6px 0;
}
.section.list-wrap .media p{
    margin-bottom:6px;
}
.section.list-wrap .media h4>a{
    color: #333;
}

.section.list-wrap .media-right,.section.list-wrap .media>.pull-right{
    padding-left: 42px;
}
.section.list-wrap .media span.text-success{
    color:#00D196;
    margin-right:20px;
    font-size: 13px;
}

.pg-wrap{
    text-align: center;
    margin: 30px auto;
}


.section.other-wrap .sect{
    border:solid 1px #eeeeee;
    padding: 15px 50px;
    margin:10px 0;
    background-color: #fff;
}

.section.section.other-wrap .sect>.title{
    padding-bottom:15px;
    border-bottom:solid 1px #eeeeee;
}

.section.section.other-wrap .sect>.title a{
    color: #777;
    font-size: 15px;
    font-weight:normal;
}

.section.section.other-wrap ul{
    padding: 0 0 0 15px;
    color: rgba(0,0,0,.2);
    font-size: 8px;
}
.section.section.other-wrap ul>li{
    padding: 9px 5px;
}
.section.section.other-wrap .col-xs-12 ul>li{
    padding: 5px 10px;
}

.section.section.other-wrap ul a{
    color: #333;
    font-size: 14px;
}
.section.section.other-wrap ul.tag{
    list-style: none;
    padding: 0;
}
.section.section.other-wrap ul.tag>li{
    display: inline-block;
    border:solid 1px #eeeeee;
    margin: 9px 15px 5px 0;
    border-radius: 2px;
}
.section.section.other-wrap ul.tag>li>a{
    color: #777;
    font-weight: normal;
}

/**customized pagination**/
.pagination>li>a {
    margin-right: 10px;
    border-radius: 2px;
    background: #fff;
    color: #aaaaaa;
    border-color: #eeeeee;
    padding: 4px 10px;
}
.pagination>.disabled>a{
    margin-right: 10px;
    border-radius: 2px;
    background: #fff;
    color: #aaaaaa;
    border-color: #eeeeee;
    padding: 4px 10px;
}
.pagination>li>a:hover{
    color: #aaaaaa;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #00D196;
    border-color: #00D196;
}
/**End customized pagination**/