@charset "utf-8";
/* CSS Document */
body{background: #FFF}
.clrfx{clear:both;zoom:1;}
.clrfx:after{content: "";display:block;height: 0; clear: both; visibility: hidden;}
.header{width: 970px;margin:20px auto 0;background: #fff}
.line{width: 888px;height: 70px;border-bottom:1px solid #eeeeee;margin: 0 auto}
.line p{width: 888px;text-align: center;padding-top:38px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #999999}
.comn-form{width:622px;float:left;margin-left:252px}
.hidden_form{display: none}
.pppoe-state{width:383px;float:left;margin-lefT:135px;padding-top: 30px}
.user-tip2{float:left;height: 16px;background: url(../images/icon.png) 0 0 no-repeat;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #bbbbbb;padding-left: 20px;margin-left: 56px}
.user-tip5{float:left;height: 16px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #ff6666;padding-left: 20px;margin-left: 23px}
.pppoe-state a{float: left;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #3399cc;margin-left: 8px}
.select_tie{width:622px;float:left;margin-left:92px}
.item{width: 306px;height:32px;margin-top:20px}
.divselect{width:200px;position:relative; z-index:1000;float:left;}
.kelong .divselect{z-index: 200}
.divselect span{width:164px; height:30px;line-height:30px; display:block; color:#807a62; cursor:pointer;font-style:normal;
padding-left:4px; padding-right:30px; border:1px solid #999999; 
background:url(../images/xiala.png) no-repeat 183px center;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;}
.divselect ul{width:198px;border:1px solid #19b2d5; background-color:#ffffff; position:absolute; z-index:500; margin-top:-1px; display:none;}
.divselect ul li{height:30px; line-height:30px;}
.divselect ul li a{display:block; height:30px; color:#555; text-decoration:none; padding-left:10px; padding-right:10px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;}
.divselect ul li a:hover{background-color:#19b2d5;color:#fff;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;}
.outset-label{height:30px;line-height:30px; margin-right:12px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;float: left;color:#999999}
.outset-labelme{height:30px;line-height:30px; width: 54px;text-align: right;margin-right:12px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;float: left;color:#999999}
.select_tie2 .outset-label{color:#ddd}
.select-panel{width: 306px;position:relative;margin-top: 28px;}
.comn-input{width:198px;height:30px;border: 1px #dddddd solid;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;float: left;color:#999999}
.item-in{width:16px;height:16px;background: url(../images/ico.png) 0 0 no-repeat;position: absolute;left:274px;top:10px}
.item-in2{width:16px;height:16px;background: url(../images/ico5.png) 0 0 no-repeat;position: absolute;left:274px;top:10px}
.error-tip{width:136px;height: 26px;line-height: 26px;color: #cc6666;padding-left: 20px; border:3px #fbdbdb solid;overflow:hidden;position: absolute;top:-32px;left:66px;background:#fff5f5 url(../images/wu.png) left center no-repeat;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;}
.sets{width: 302px;float: left;height: 18px;overflow: hidden;margin-top: 20px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;margin-left: 66px}
.sets a{float:left;width:16px;height: 16px;background: url(../images/chang.png) 0 0 no-repeat;margin-right: 12px}
.sets3 .sets2{float:left;width:12px;height: 12px;border: 2px #eeeeee solid; margin-right: 12px}
.sets a:hover{background: url(../images/xuan.png) 0 0 no-repeat;}
.sets .dianji,
.sets .dianji:hover{background: url(../images/xuazhong.png) 0 0 no-repeat;}
.kelong{float: left;margin-left: -29px;margin-top: 20px}
.select_tie .kelong_hidden{display: none}
.kelong .outset-label{float:left}
.kelong .outset-label_p{margin-right: 10px}
.sets3 strong{color: #ddd}
.kelong p{float: left;width: 473px;padding-left: 92px; line-height: 20px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color:#c0c0c0}
.select-pane{float: left;margin-left: -36px;margin-top: 20px;position: relative}
.zidingyi{float: left;margin-left:17px;margin-top: 20px;overflow: hidden}
.outset-labere{ height:30px;line-height:30px;margin-right:12px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;float: left;color:#999999}
.guanbi{width:60px;height: 30px;background: url(../images/close.png) 0 0 no-repeat;float: left;cursor: pointer}
.text{height:30px;line-height:30px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;float: left;color:#999999;padding-left: 12px}
/* 开启按钮clsss名*/
.zidingyi .closed{background: url(../images/kaiqi.png) 0 0 no-repeat;}
.shouxuan{float: left;margin-left:45px;width:326px;display: none}
.baocun{width: 200px;height:40px;line-height: 40px;text-align: center;background: #19b2d5;float: left;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color:#fff;margin-top:30px;cursor: pointer;margin-left: 74px;margin-bottom: 42px}
.baocun_p{width: 200px;height:40px;line-height: 40px;text-align: center;background: #cbd2d8;float: left;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color:#fff;margin-top:30px;display: block;margin-left: 74px;margin-bottom: 42px}
#divselect .slect_lis{background:url(../images/san.png) no-repeat scroll 183px center;border: 1px #eeeeee solid;width:164px; height:30px;line-height:30px; display:block; color:#807a62; font-style:normal;
padding-left:4px; padding-right:30px;}
.pppoe-state .user-tip8{background-image: none;margin-left: 21px}
/*  浮层*/
.beg{width:440px;height: 202px;background: #fff;position: relative;display: none}
.beg span{width:14px;height: 14px;background:url(../images/close2.png) 0 0 no-repeat;cursor: pointer;position: absolute;top:8px;right: 11px}
.beg strong{font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #999999; margin-bottom: 24px;display: block}
.beg p{color: #19b2d5}
.zhanghu{float: left;width:368px;margin:40px 0 0 40px;display: inline;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 14px;}
.beg a{float: left;width: 200px;height: 40px;line-height: 40px;text-align: center;background: #19b2d5;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 14px;color: #fff;margin:25px 0 0 120px}
/*浮层2*/
.fuceng{width:352px;height: 320px;background: #fff;position: relative;display: none}
.fuceng .tipd{width:14px;height: 14px;background:url(../images/close2.png) 0 0 no-repeat;cursor: pointer;position: absolute;top:8px;right: 11px}
.kuandai{float: left;width:275px;margin:40px 0 0 39px;display: inline;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 14px;}
.ci p{float: left;margin-right: 40px;margin-bottom: 12px;color: #555}
.kuandai .dan{margin-right: 0}
.kuandai .hao{margin-bottom: 20px;line-height: 24px;color: #555}
.kuandai strong{display: block;margin-bottom: 18px;color: #999999}
.chaxun{float: left;color: #3399cc}
.zhidao{float: left;width: 200px;height: 40px;line-height: 40px;text-align: center;background: #19b2d5;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 14px;color: #fff;margin:30px 0 0 60px;}
 .header .dongtai{display: block;width: 320px;}
 .header .mima{display: none;width: 320px;}
 .header .jingtai_block{display: block}
.jingtai_yincang{display: none;}
.boma{width: 140px;height: 18px;}
.comn-input{border:1px #dddddd solid;}
.comn-input_active{border:1px #ff6666 solid;}
.error {border: solid 1px #f25d50;}
.focus{border:solid 1px #00a7e4;}
.divselect .open{border:1px #19b2d5 solid}
/* 高级设置样式*/
.tab_box .hide{display:none;}
.box{width:970px;margin:0 auto; background: #fff;overflow: hidden}
.tab_menu{width: 145px;height: 470px;background: #f7fcfe; float:left;}
.tab_menu li{width:143px;height: 50px;float:left;border-left: 2px #fff solid;}
.tab_menu li.current{border-left: 2px #19b2d5 solid;background: #fff;}
.tab_box{float: left;width: 825px;}
.tab_menu li a{float:left;width:145px;height:50px;line-height: 50px;text-align: center;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 14px;color: #555555}
.tab_menu li.current a{color: #4ebddb}
.tab_menu li .mianban{text-align: left;margin-left: 40px}
.tab_guan{float: left;width: 825px;}
.neiwang{width:745px;margin:0 auto;overflow: hidden;text-align: center;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 14px;color: #999;height: 45px;line-height: 45px;margin-top: 25px; border-bottom: 1px #eeeeee solid}
.form_tip{width: 324px;margin:20px auto 0;overflow: hidden;}
.tab_guan .form_tips{margin-top: 40px}
.form_tip label{height: 32px;width: 58px;line-height: 32px;float: left;text-align: right;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #999;margin-right: 4px}
.form_tip input{width: 198px;height: 30px;border:1px #dddddd solid;line-height: 30px;float:left;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #999;}
.baocun_btn{width: 200px;height: 40px;line-height: 40px;text-align: center;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #fff;cursor: pointer;background: #19b2d5;margin:30px auto 0}
.neiwang_fu{width:745px;margin:0 auto;overflow: hidden;}
.fenpei{width:530px;float: left;margin-left: 186px;margin-top:30px;overflow: hidden}
.fenpei_bi{float: left;width: 530px;height: 50px;}
.dhcp{float:left;width:68px;height: 50px;line-height: 50px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #999;}
.dhcp_open{float:left;width:60px;height: 50px;background: url(../images/kaiqi.png) center center no-repeat;cursor: pointer}
.fenpei_bi p{float: left;height: 36px;line-height: 22px;margin-top: 3px;margin-left: 8px; font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #999;}
.fenpeifanwei{float:left;width:346px;height:32px;margin-top: 20px; font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #999;}
.fenpeifanwei input{float: left;width:38px;height: 30px;border:1px #dddddd solid}
.ipfen{float: left;width:70px;height: 32px;line-height: 32px;}
.quzhi{float: left;width:65px;height: 32px;line-height: 32px;margin-left: 8px;margin-right: 8px}
.quzhi_p{width:31px;height: 32px;line-height: 32px;text-align: center;float: left}
.baocun_btn_t{width: 200px;height: 40px;line-height: 40px;text-align: center;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #fff;cursor: pointer;background: #19b2d5;;float: left;margin:30px 0 0 80px}
.mtushezhi{width:745px;margin:0 auto;overflow: hidden;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;}
.kuandai_bo{width:270px;margin:40px 0 0 256px;overflow: hidden;}
.kuandai_bo .baocun_btn_t_cun{margin:12px 0 0 0 }
.morenzhi{width: 270px;height: 32px}
.morenzhi input{width: 198px;height: 30px;border: 1px #dddddd solid;line-height: 30px;margin-right: 6px}
.morenzhi a{color: #3399cc}
.kuandai_bo p{height:34px;line-height: 34px;color: #c5c5c5}
.UPnpshezhi{width:745px;margin:0 auto;overflow: hidden;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}
.kongzhi{display:block;width:60px;height: 30px;background:url(../images/close.png) 0 0 no-repeat;margin:32px auto 0;cursor: pointer}
.xietong{font-size: 12px;color: #bbbbbb;width: 100%;text-align: center;margin-top: 20px}
.xietong_hidden{font-size: 12px;color: #bbbbbb;width: 100%;text-align: center;margin-top: 20px;display: none}      
.baocun_btn_tn{width: 200px;height: 40px;line-height: 40px;text-align: center;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #fff;cursor: pointer;background: #19b2d5;;float: left;margin:30px 0 0 279px}   
.mianban{width:745px;margin:0 auto;overflow: hidden;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;position: relative}
.mianban .chengong{width:276px;height: 46px;border: 1px #d2f0b8 solid;position: absolute;top:212px;left:233px;background: #f5fbef}
.mianban .chengong span{display: block;width:72px;height: 24px;margin: 0 auto;background: url(../images/dui.png) 0 0 no-repeat;font-size: 12px;color: #60be06;margin-top:15px;padding-left: 18px} 
.biaozhun{width:280px;height: 100px; margin:30px auto 0}  
.biao_left,.biao_right{width:140px;height: 100px;float:left;background:#f2f2f2;cursor: pointer}  
.acti_biao{display: block;width: 50px;height: 50px;margin:10px auto 0;background: url(../images/tai.png) 0 0 no-repeat}
.zhun{width:140px;height: 20px;line-height: 20px;text-align: center;color:#999999;margin-top: 8px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}
.biao_left_hei{background:#65c456}
.biao_left_hei .acti_biao{display: block;width: 50px;height: 50px;margin:10px auto 0;background: url(../images/taiyang.png) 0 0 no-repeat}
.biao_left_hei p{color: #fff}
.acti_biao_tn{display: block;width: 50px;height: 50px;margin:10px auto 0;background: url(../images/yueliang.png) 0 0 no-repeat}
.zhunbei{width:140px;height: 20px;line-height: 20px;text-align: center;color:#999999;margin-top: 8px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}
/* 夜间*/
.acti_biao_tnu{background:#607b92}
.acti_biao_tnu .acti_biao_tn{display: block;width: 50px;height: 50px;margin:10px auto 0;background: url(../images/yue.png) 0 0 no-repeat}
.acti_biao_tnu p{color: #fff}
.quantian{width:140px;height: 60px;line-height: 60px;text-align: center;margin: 0 auto 0;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px}
.yejian{width:254px;height: 60px;line-height: 60px;text-align: center;margin: 0 auto 0;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;display: none}
.yejian input{display:inline-block;width:26px;height:22px;border: 1px #dddddd solid;}
.yejian span{padding-right: 5px}
.baocun_nt{width: 280px;height: 40px;line-height: 40px;text-align: center;background: #19b2d5;margin: 0 auto;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 12px;color: #fff;cursor: pointer}
.shengxiao{width:81px;height: 18px;margin: 0 auto;font-size: 12px;color: #bbbbbb;background: url(../images/loading.gif) 0 0 no-repeat;padding-left: 20px;margin-top: 12px}    ↑ 
/* 系统升级*/
.tab_guan .jiancexin{width: 88px;height: 80px;margin:74px auto 0;font-size: 12px;text-align: center;color: #bbbbbb;display: none}
.tab_guan .jiancexin img{width:16px;height: 16px;margin-bottom: 8px}
.tab_guan .zuixinban{width: 200px;margin:36px auto 0;overflow: hidden;font-size:12px;color: #bbbbbb;text-align: center;display: none}
 .tab_guan .zuixinban img{margin-bottom: 16px}   
.chongxinjian{width: 200px;height: 40px;background:#19b2d5;line-height: 40px;text-align: center;color: #fff;font-size: 14px;margin-top:30px;cursor: pointer;display: block}
.wendingban{width: 230px;margin:36px auto 0;overflow: hidden;font-size:12px;color: #bbbbbb;text-align: center} 
.wendingban  img{margin-bottom: 16px}     
.wendingban dl{width: 100%;margin:20px 0 0 58px;text-align: left}       
.wendingban dl dd{height: 20px;line-height: 20px} 
.wendingban .chongxinjian{margin:20px 0 0 20px;display: block}
.chongxinjian:hover{background: #00a4cd}    
.shengjitanceng{width:480px;height: 172px;background:#ffffff;display: none}  
 .shengjitanceng p{width: 480px;height: 30px;line-height: 30px;text-align: center;font-size: 14px;color:#999999;padding-top:36px}      
.shengjitanceng .graph{width: 400px;height: 6px;margin: 0 auto;background: #e5e5e5;position: relative;margin-top: 10px}    
#bar{position: absolute;top:0;left: 0;width: 20%;height: 100%;background: #19b2d5}  
.zhengzaishengji{width: 480px;height: 20px;line-height: 20px;text-align: center;font-size: 12px;color: #ff6666;margin-top: 36px}  
.shenhjiwan{width: 480px;height: 212px;background: #fff;position: relative;padding-top: 46px;display: none}
.shenhjiwan .guan_bt{position: absolute;width: 14px;height: 14px;background: url(../images/close2.png) 0 0 no-repeat;top:12px;right: 12px;}     
 .shenhjiwan span{display: block;width: 32px;height: 32px;background: url(../images/tu.png) 0 0 no-repeat;margin: 0 auto 0;}    
 .shenhjiwan p{width: 463px;height: 22px;text-align: center;padding: 17px 0 0 17px;font-size: 14px;color: #999999}  
.wozhidao{display: block;width: 200px;height: 40px;line-height: 40px;text-align: center;background: #19b2d5;margin: 21px auto 0;font-size: 14px;color: #fff;cursor: pointer}
 .wozhidao:hover{background:#00a4cd}   
.new-contentarea {width: 100%;	overflow:hidden;	margin: 0 auto;	position:relative;}
.new-contentarea label {width:100%;height:100%;display:block;}
.new-contentarea input[type=file] {width:200px;height:40px;background:#333;margin: 0 auto;position:absolute;right:50%;margin-right:-100px;top:0;right/*\**/:0px\9;margin-right/*\**/:0px\9;width/*\**/:10px\9;opacity:0;filter:alpha(opacity=0);z-index:2;}
a.upload-img{	width:200px;display: inline-block;height:40px;line-height: 40px;font-size: 14px;color: #FFFFFF;background-color: #19b2d5;border-radius: 3px;text-decoration:none;	cursor:pointer;}
a.upload-img:hover{background-color: #ec7e70;}
.tc{text-align:center;}
.xuanze{width: 200px;margin: 90px auto 0}
.xuanze p{width: 200px;text-align: center;font-size: 14px;color: #999999;margin-bottom: 30px}
.shangchuanbao{width: 480px;height: 210px;background:#ffffff;display: none}
.shangchuanbao p{width: 480px;height: 20px;line-height: 20px;text-align: center;padding-top: 50px;color:#999999;font-size: 14px}
.shangchuanbao .graph{width: 400px;height: 6px;margin: 0 auto;background: #e5e5e5;position: relative;margin-top: 10px}    
#bar2{position: absolute;top:0;left: 0;width: 20%;height: 100%;background: #19b2d5} 
.shanchu{width: 480px;text-align: center;margin-top: 35px}
.shanchu span{color: #bbbbbb;font-size: 12px}
.shanchu a{font-size: 12px;color: #0099cc}
.yanzhengbao{width: 480px;height: 210px;background:#ffffff;display: none}
.yanzhengbao p{width: 480px;height: 20px;line-height: 20px;text-align: center;padding-top: 50px;color:#999999;font-size: 14px}
.yanzhengbao .graph{width: 400px;height: 6px;margin: 0 auto;background: #e5e5e5;position: relative;margin-top: 10px}    
#bar2{position: absolute;top:0;left: 0;width: 20%;height: 100%;background: #19b2d5} 
.shanchu{width: 480px;text-align: center;margin-top: 35px}
.shanchu span{color: #bbbbbb;font-size: 12px}
.shanchu a{font-size: 12px;color: #0099cc}
.hegebao{width:480px;height: 210px;background: #ffffff;display: none}
.hegebao p{width: 480px;height: 20px;line-height: 20px;text-align: center;color: #999999;font-size: 14px;padding-top: 60px}
.lijishengji{width:200px;height: 40px;line-height: 40px;text-align: center;background: #19b2d5;display: block;margin: 0 auto;font-size: 14px;color: #fff;margin-top:20px}
.lijishengji:hover{background: #00a4cd}
.buhegebao{width:480px;height: 210px;background: #ffffff;display: none}
.buhegebao p{width: 480px;height: 20px;line-height: 20px;text-align: center;color: #999999;font-size: 14px;padding-top: 60px}
.buhegebao span{display: block;width: 480px;height: 20px;line-height: 20px;text-align: center;color: #999999;font-size: 14px;padding-top: 18px}
.xiugaimima{width:890px;margin:0 auto 20px;overflow: hidden;text-align: center;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size: 14px;color: #999;height: 45px;line-height: 45px;margin-top: 25px; border-bottom: 1px #eeeeee solid}
.xiugaimima .guanbi{background: url(../images/close.png) 0 0 no-repeat;}
.activ_wife .guanbi{background: url(../images/close.png) 0 0 no-repeat;}
.field-items{width:390px;margin:0 auto;overflow: hidden;color: #bbbbbb}
.xiugaimima .closed{background: url(../images/kaiqi.png) 0 0 no-repeat;}
.activ_wife .closed{background: url(../images/kaiqi.png) 0 0 no-repeat;}
.items{float:left;width: 360px;}
.items label{width:96px;height: 32px;line-height: 32px;text-align: right;float: left;font-size: 12px;margin-top: 20px}
.item-ins{float:left;width: 260px;margin-top: 20px}
.item-ins p{float: left;width:260px;font-size: 12px;padding-top: 10px}
.baocun_btns{width: 200px;height: 40px;line-height: 40px;text-align: center;color: #fff;font-size: 14px;margin: 0 auto;display: block;background: #19b2d5;margin-top: 30px;margin-bottom: 128px}
.fucengshezhi{width: 440px;height: 193px;padding-top: 48px; background: #ffffff;position: relative;display: none}
.fucengshezhi .close_btn{width: 14px;height: 14px;background: url(../images/close2.png) 0 0 no-repeat;position: absolute;top:10px;right:10px;cursor: pointer}
.mimashe{width:32px;height: 32px;background: url(../images/tu.png) 0 0 no-repeat;margin:0px auto 0px;padding-bottom: 10px}
.fucengshezhi p{width:440px;height: 20px;line-height: 20px;text-align: center;font-size: 14px;color: #c6c6c6;margin-top: 12px}
.fucengshezhi .kownk{width:200px;height: 40px;line-height: 40px;text-align: center;color: #fff;display: block;margin: 24px auto 0;font-size: 14px; background: #19b2d5}
.fucengshezhi .kownk:hover{background: #00a4cd}
.zidonga{width:825px;height: 20px;line-height: 20px;text-align: center;font-size:12px;color:#bbbbbb;margin-top: 90px}
.luyoubao{width:200px;height: 40px;line-height:40px;text-align: center;color: #fff;display: block;background: #19b2d5;margin: 30px auto 0;font-size: 14px;}
.luyoubao:hover{background: #00a4cd}
.congqi{width:400px;height: 200px;background: #fff;text-align: center;display: none}
.congqi img{width:32px;height: 32px;margin-top: 58px;margin-bottom: 18px}
.congqi p{font-size: 14px;color:#999999;}
.xunwen{width:400px;height: 160px;padding-top: 40px; background: #fff;position: relative;display: none}
.xunwen span{width: 14px;height: 14px;background: url(../images/close2.png) 0 0 no-repeat;position: absolute;top:10px;right:10px;cursor: pointer}
.xunwen p{width: 323px;text-align: left;margin: 0px auto;font-size: 14px;color: #555555;padding-bottom: 24px}
.queding{width: 260px;height: 40px;margin: 8px auto 0;}
.btn_que{float: left;width:120px;height: 40px;line-height: 40px;font-size: 14px;text-align: center;background: #19b2d5;color: #fff;margin-right: 20px}
.btn_xiao{float: left;width:120px;height: 40px;line-height: 40px;font-size: 14px;text-align: center;background: #8cd8ea;color: #fff;}
.btn_que:hover{background: #00a4cd}
.btn_xiao:hover{background: #66c8e1}
.xunwen_huifu{width:470px;height: 211px;padding-top: 40px; background: #fff;position: relative;display: none}
.xunwen_huifu span{width: 14px;height: 14px;background: url(../images/close2.png) 0 0 no-repeat;position: absolute;top:10px;right:10px;cursor: pointer}
.xunwen_huifu p{width: 395px;text-align: left;line-height: 25px; margin: 0px auto;font-size: 14px;color: #555555;padding-bottom: 24px}
.congqi{width:400px;height: 200px;background: #fff;text-align: center;display: none}
.shengxiao{width:400px;height: 200px;background: #fff;text-align: center;display: none}
.shengxiao img{width:32px;height: 32px;margin-top: 58px;margin-bottom: 18px}
.shengxiao p{font-size: 14px;color:#999999;}
.xiugaimima span{float: left;width:425px;text-align: right}
.xiugaimima strong{float: left;width: 60px;height: 30px;background: url(../images/kaiqi.png) 0 0 no-repeat;margin-top:5px;margin-left: 8px;cursor: pointer}

.selectr{width: 712px;margin:35px auto 0;height: auto;display: none}
.box .select_Gray{display:block}
.select_Gray .wife label{color: #dddddd}
.select_Gray input{background: #ffffff;border:1px #eeeeee solid}
.select_Gray .select span{border:1px #eeeeee solid;color: #eaeaea;background: url(../images/san.png) 74px center no-repeat;cursor: default;}
.select_Gray .yincang .checkbox{width:12px;height: 12px;border: 2px #eeeeee solid;background: none;cursor: default;}
.select_Gray .yincang .chbox-val{color: #dddddd}

.wife{width: 183px;height: 32px;float: left}
.wife label{width:43px;height: 32px;line-height: 32px;font-size: 12px;color: #999999; text-align: left;}
.wife input{width:138px;height: 30px;line-height: 30px;border: 1px #dddddd solid;}
.wifef{margin-left: 28px}
.select{ position: relative; width: 90px;float: left}
.select .show{width:80px;height:30px;padding-left: 8px; border: 1px #ddd solid;font-size: 12px;line-height: 30px; cursor: pointer;background: url(../images/xiala.png) 74px center no-repeat; display: block}
.dropList{border: 1px #19b2d5 solid;border-top: 0; overflow: auto; position: absolute; top:31px; width: 88px;  background: #ffffff; z-index: 99; padding-top: 5px; padding-bottom: 2px; display: none;}
.dropList li{ line-height: 30px;width:80px;height: 32px;padding-left: 8px; font-size: 12px; cursor: pointer;}
.dropList li:hover{color:#fff;background: #19b2d5}
.box_p{height: 403px;position: relative}
.xindao{float: left;width:165px;}
.xindao label{float: left;width:43px;height: 32px;line-height: 32px;font-size: 12px;color: #999999; text-align:right;margin-right: 5px}
.select-open .sel-val{border:1px #19b2d5 solid;border-bottom: none;}
.select-open .options{display: block;}
.yincang{width:140px;height: 18px;float: left;font-size: 12px;color: #555555;margin-top: 8px}
.checkbox2{float: left;width:16px;height: 16px;cursor: pointer}
.yincang .checkbox{background: url(../images/chang.png) 0 0 no-repeat;}
.chbox-val{float:left;margin-left: 5px}
.yincang .checked{background: url(../images/xuazhong.png) 0 0 no-repeat;}
.conter{width: 890px;margin:50px auto 0;overflow: hidden}
.fangke{float: left;width:426px;font-size: 12px;color:#bbb}
.moshi{width: 426px;height: 48px;line-height: 48px;text-align: center;border-bottom: 1px #eeeeee solid;}
.activ_wife{width:306px;margin:20px auto 0;overflow: hidden}
.close_bn{float: left;width: 60px;height: 30px;background: url(../images/kaiqi.png) 0 0 no-repeat;cursor: pointer}
.close_ba{float: left;width: 226px;height: 30px;margin-left: 10px; line-height: 30px}
.qiangdu{float: left;width:426px;font-size: 12px;color:#bbb;margin-left: 38px}
.tongguo{width: 272px;height: 26px;margin: 23px auto 0}
.activ{float: left;width: 16px;height: 16px;cursor: pointer;margin-top:8px;margin-right: 6px; }
.hRadio{background:url(../images/rb.png) 0 0 no-repeat}
.activd{float:left;width: 52px;height: 26px;line-height: 30px; background: url(../images/img_1.png) center right no-repeat}
.tongguo .activ_co{float: left;width: 16px;height: 16px;cursor: pointer;margin-top:8px;margin-right: 6px; }
.tongguo .hRadio_Checked {background:url(../images/ra.png) 0 0 no-repeat}
.lvse{float:left;width:75px;height: 26px;margin-right: 18px}
.zhun_p{float:left;width:75px;height: 26px;margin-right: 18px}
.zhun_p .activd{float:left;width: 52px;height: 26px;line-height: 30px; background: url(../images/img_2.png) center right no-repeat}
.qiang .activd{float:left;width: 52px;height: 26px;line-height: 30px; background: url(../images/img_3.png) center right no-repeat}
.btn_baocun{width:200px;height: 40px;line-height: 40px;text-align: center; font-size:14px;background: #19b2d5;display: block;margin:40px auto 0;color: #fff;}
.btn_baocun:hover{background: #00a4cd}
.sheng_xiao{line-height: 40px;width:159px;height: 40px;padding-left: 41px; line-height: 40px;background: url(../images/loading_big.gif) 0 0 no-repeat;margin:40px auto 0;font-size: 12px;color: #bbbbbb;display: none}
.sheng_xiao span{color:#ff6666}
.xiugai{position: absolute;top:276px;left: 386px; width:196px;height: 46px;border: 2px #d2f0b8 solid;line-height: 46px;text-align: center;background: #f5fbef;color: #d2f0b8;font-size: 12px}
.shenhjiwan_bn .wozhidao{margin: 48px auto 0}
.shenhjiwan_bn p{line-height: 30px}
.xunwen_btm{width:480px;height: 193px}
.xunwen_btm p{width:420px}
.xunwen_btnm{width:504px;height: 220px}
.xunwen_btnm p{width:467px}
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------设备管理页面样式------------------------------*/
 .lian_jie{width:160px;height:55px;margin:10px auto 0}
 .lian_jie span{float:left;color: #999999;height: 55px;line-height: 55px;font-size: 14px}
.lian_jie a{float:left;width:16px;height:55px;background: url(../images/shua.png) center center no-repeat;margin-left:6px}
.box .biaoge{width:890px;margin:0 auto 0;overflow: hidden;border-collapse:collapse; font-size: 12px}
.biaoge th{line-height: 40px;background: #f2f2f2;border:1px #dddddd solid;font-size: 12px;text-align: left;padding-left: 20px;color: #999999}
.biaoge .t1{width:270px;border-left-style: none}
.biaoge .t2{width:190px}
.biaoge .t3{width:210px}
.biaoge .t4{width:88px}
.biaoge .t5{width:132px}
.biaoge td{text-align: left;padding-left: 20px;font-size: 12px;border:1px #dddddd solid;height: 80px;border-left-style: none}
.biaoge td .w1{width: 242px;float:left;}
.biaoge td .w1 .fang{height: 80px;line-height: 80px;width:30px;text-align: center;float:left}
.biaoge td .w1 .fang img{width:30px;height:30px;margin-top: 27px}
.biaoge td .w1 .w1_con{float: left;width:201px;margin-left: 5px;margin-top: 20px}
.w1_con .colu{width:202px;float: left;position: relative}
.feifazi{width:176px;height: 26px;border: 1px #fbdbdb solid;background: #fff5f5;position:absolute;top:-20px;left: 0}
.xiansu .feifazi{top:-31px;left: 10px;}
.xianshu_zhi .feifazi{top:-31px;left: 10px;display: none}
.feifazi i{font-style: normal;height: 26px;line-height: 26px;width: 100%;height: 26px;background: url(../images/wu.png) 0 0 no-repeat;padding-left: 20px;margin-left: 8px;color: #cc6666}
.w1_con .colu .text_wenzi{width:149px;height: 22px;line-height: 22px; margin-top: 9px;float:left;display: none;color: #656565;}
.w1_con .colu .bian_ji{width: 159px;height: 22px;background: #fff;border:1px #19b2d5 solid;font-size: 12px;float: left;margin-top: 9px;}
.w1_con .colu .kebianji{width:13px;height: 24px;float: left;margin-left:11px;background: url(../images/bian.png) center center no-repeat;margin-top: 9px;display: none}
.w1_con .colu .que_ding{width:27px;height: 24px;line-height: 24px;color: #56a7d2;float:left;margin-top: 9px;margin-left:11px;}
.w1_con .dizhi{width:160px;height: 20px;line-height: 20px;float:left;color:#bbbbbb;font-size: 12px}
.ipdizhi{width:168px;float:left;height: 24px;line-height: 24px;}
.guding{width:60px;float: left;font-size: 12px;color:#555555;}
.ipdizhi b{font-weight: normal;font-size: 12px;color:#555555;float: left;}
.ipdizhi input{float:left;width:28px;height: 22px;background: #fff;line-height:22px;border: 1px #19b2d5 solid;display: none}
.she_zhiip{height: 24px;line-height: 24px;float: left;width: 61px;color: #56a7d2;margin-left: 19px;display: none}
.ipdizhi .que_ding{width:27px;height: 24px;line-height: 24px;color: #56a7d2;float:left;margin-left:11px;display: none}
.ipdizhi p{float: left;height: 24px;line-height: 24px;margin-left: 15px;color:#bbbbbb}
.ipdizhi p .jie_chu{color:#56a7d2;padding-left: 3px}
.w3{width: 185px;float:left;height: 24px}
.Upstream{float:left;width:63px;height: 24px;}
.xiansu{float:left;width:122px;position: relative}
.xiansu b{height:12px;float:left;margin-right: 5px}
.xian_su{cursor: pointer;color: #46a0cf;display: none}
.qu_ding{width: 58px;height: 22px;border: 1px #19b2d5 solid;background: #ffffff;float:left;margin-top: -3px;display: none}
.xian_ding{width:62px;height: 24px;line-height: 24px;margin-top: -3px;float:left;color: #bebfc0;font-size: 12px;}
.shan_qu{float:left;width:28px;height: 24px;line-height: 24px;color: #3399cc;margin:-3px 0 0 10px;display: none}
.xian_ding strong{color:#33cc00}
.jiebang{color: #3399cc;}
.biaoge .w4{margin-top: 6px}
.biaoge .closed{width:60px;height: 30px;background: url(../images/kaiqi.png) 0 0 no-repeat;cursor: pointer}
.biaoge .guanbi{width:60px;height: 30px;background: url(../images/close.png) 0 0 no-repeat;float: left;cursor: pointer}
.biaoge .zhuihui_ash .feifazi{display: none}

.biaoge .zhuihui_ash .w1_con .colu .bian_ji,.biaoge .zhuihui_ash .w1_con .colu .que_ding{display: none}
.biaoge .zhuihui_ash .w1_con .colu .text_wenzi{display: block;color: #dddddd}
.biaoge .zhuihui_ash .w1_con .dizhi{color: #dddddd}
.biaoge .zhuihui_ash .guding,.biaoge .zhuihui_ash .ipdizhi b{color: #dddddd}
.biaoge .zhuihui_ash .ipdizhi p{display: none}
.biaoge .zhuihui_ash .xiansu{display: none}
.biaoge .zhuihui_ash .Upstream,.biaoge .zhuihui_ash .youxian{color: #dddddd}
.blue{background:#e3f6fa}
/*--------------------------------------------------------------------------------*/
/*登录页面 css*/
.body_top{background:#e8f7fb url(../images/body.png) 0 0 repeat-x;}
.conter_bg{width:970px;height: 240px;margin: 0 auto 16px;background: url(../images/sign_in.png) 0 0 no-repeat}
.form-container{width:300px;margin:0px auto 0;position: relative;overflow:hidden;}
.form-panels{width:620px;}
.form-panels .panel{ width: 300px;float: left;position: relative;padding-top:28px;}
 .panel .field-con {width:284px;}
 .panel .field-con_red{border:solid 1px #ff6666;}
.field-con{width:284px;height: 42px;line-height: 42px; padding-left: 14px;border:solid 1px #a3e0ee; background-color: #fff; position: relative;}
.login-submit { width:300px;height: 50px;background-color: #61bf06;color: #fff;border: none;font-size: 16px;font-family: "Microsoft YaHei","微软雅黑"; margin-top: 10px; cursor: pointer; outline: none;}
.login-submit:hover{background: #3aaf00}
.err-tip{width:156px;height: 26px;line-height: 26px; background-color: #fff5f5;border: solid 1px #f1c4c0; color: #cc6666;position:absolute;left:0;top:0}  
.err-tip .icon-warn{height: 16px;line-height: 16px; width:126px;display: block;font-size: 12px; background: url(../images/wu.png) center left no-repeat;margin:4px 0 0 8px;padding-left: 20px}
.skip-panel{width:300px;height: 18px;line-height: 18px;text-align: center;color: #46a0cf;font-size: 12px;display: block;margin-top: 30px}  
.panel label{padding-left: 25px; font-size: 12px;color: #6ccee4;margin-bottom: 8px;line-height: 30px} 
.form-panels .sn-panel{padding-top:0;}
.sn-panel .err-tip{top:2px;width:170px}
.sn-panel .err-tip .icon-warn{width:165px}
/*---------------------------------------------------------配置引导页CSS--------------------------------------*/
.body_configure{background:#e8f7fb url(../images/body_t.png) 0 0 repeat-x;}
.conter_configur{width:970px;height:377px;margin: 0 auto 30px;background: url(../images/pei_zhi.png) 0 0 no-repeat}
.kuaisu_configur{width:220px;height: 40px;margin: 0 auto 32px;line-height: 40px;text-align: center;background:#61bf06;font-size: 14px;color:#fff;display: block}
.text_configu{width:970px;margin: 0 auto;overflow: hidden;}
.kuaisu_configur:hover{background:#3aaf00}
.xieyi{width:217px;height: 16px;line-height: 16px; margin: 0 auto 0}
.xieyi span{float: left;width: 16px;height: 16px;background:url(../images/xuazhong.png) 0 0 no-repeat;margin-right: 5px;cursor: pointer}
.xieyi b{font-weight: normal;font-size: 12px;color: #6ccee4;float: left;height: 16px;line-height: 16px;margin-right: 4px}
.xieyi a{font-size: 12px;color: #3399cc;float: left;height: 16px;line-height: 16px}
.xuke_fuceng{width:680px;height: 480px;background: #ffffff;position: relative;display: none}
.close_btne{width: 33px;height: 33px;background: url(../images/de_close.png) 0 0 no-repeat;position: absolute;right: 0;top:0;}
.close_btne:hover{background: url(../images/hover.png) 0 0 no-repeat}
.xuke_fuceng h2{float: left;width:620px;height: 20px;line-height: 20px;font-size: 14px;color: #999999;margin-left: 40px;display: inline;margin-top: 38px}
.conter_xieyi{width:635px;float: left;margin-left: 40px;height: 380px;position: relative;overflow: hidden;margin-top: 12px;font-size: 12px;color: #555555;line-height: 20px}
.body_youtu{background:#e8f7fb url(../images/body_x.png) 0 0 repeat-x;}
.conter_conte{width:970px;height:220px;border-bottom: 1px #c8ecf5 solid;margin:0 auto 0;position: relative}
.con_bg{width:970px;height: 131px;padding-top: 19px; background:#19b2d5;margin:0 auto 0px}
.logo_bg{width: 102px;height: 72px;background: url(../images/logo_p.png) 0 0 no-repeat;margin:0px auto 0}
.set_hulian{width:175px;height: 95px;position: absolute;left: 294px;top:123px}
.access .hulain{background: url(../images/b_1.png) 0 0 no-repeat;}
.access .text_defu{color:#6ccee4}
.access .hulain{background: url(../images/b_1.png) 0 0 no-repeat;}
.access .text_defu{color:#6ccee4}
.website .hulain{background: url(../images/img1.png) 0 0 no-repeat;}
.website .text_defu{color:#6ccee4}
.access_right .hulain_left{background: url(../images/bg3.png) 0 0 no-repeat;}
.access_right .text_defu_ca{color:#6ccee4}
.website_ri .hulain_left{background: url(../images/img1.png) 0 0 no-repeat;}
.website_ri .text_defu_ca{color:#6ccee4}
.hulain{display: block;width:50px;height: 56px;background: url(../images/img2.png) 0 0 no-repeat;margin:0 auto}
.text_defu{font-size: 16px;width: 100%;text-align: center;color: #22aad0;height: 42px;line-height: 42px}
.set_loh{width:175px;height: 95px;position: absolute;left:523px;top:123px}
.hulain_left{display: block;width:50px;height: 56px;background: url(../images/bg1.png) 0 0 no-repeat;margin:0 auto}
.text_defu_ca{font-size: 16px;width: 100%;text-align: center;color: #7fd4e7;height: 42px;line-height: 42px}
.guide-container{width: 970px;margin: 0 auto;overflow: hidden}
.guide .outset-label{color: #6ccee4}
.guide{width: 970px;float: left;}
.guide .comn-input{border:1px #a3e0ee solid}
.guide .divselect span{border: 1px #a3e0ee solid}
.guide .outset-labere{color: #6ccee4}
.guide .tiaoguo{width:46px;height: 42px;line-height: 42px;font-size: 12px;float: left;margin-top: 30px;text-align: center;color: #63add5}
.step_er{width: 970px;float: left;}
.shebei{width: 970px;height: 24px;line-height: 24px;text-align: center;color: #6ccee4;font-size: 12px;margin-top: 17px}
.name_wife{float:left;width:278px;margin-left: 312px;}
.wuxian{width:278px;height: 32px;margin-top: 18px;}
.wuxian label{float:left;width:66px;text-align: right;font-size: 12px;color: #6ccee4;height: 32px;line-height: 32px;}
.wuxian input{float: left;width:198px;height: 30px;border: 1px #a3e0ee solid;margin-left: 12px;}
.pu_t{float: left;margin-left: 12px;width:198px;height: 16px;line-height: 16px;}
.pu_t span{float: left;width: 16px;height:16px;background: url(../images/cheak.png) 0 0 no-repeat;cursor: pointer}
.pu_t b{float: left;font-weight: normal;font-size: 12px;color: #6ccee4;margin-left: 5px}
.pu_t span.active_box{background: url(../images/xuazhong.png) 0 0 no-repeat}
.name_wife .wuxian_hei{height: 16px}
.sto_seta{float:left;width:278px;margin-left: 312px;margin-top: 18px;}
.shangbu{float:left;width:66px;text-align: right;font-size: 12px;color: #6ccee4;height: 32px;line-height: 32px;}
.tao_cun{float: left;width: 200px;height: 40px;line-height: 40px;text-align: center;font-size: 12px;color: #fff;background: #19b2d5;margin-left: 12px;}
.luyoupeizhi{width: 970px;margin: 0 auto;display: none}
.yiwancheng{width:970px;font-size: 24px;color: #60be06;text-align: center;margin-top:36px;display: none}
.yiwancheng p{width:970px;height: 18px;line-height:18px;text-align: center;color: #8ad7e9;font-size: 12px;margin-top: 5px}
.yiwancheng p a{font-size: 14px;color: #57a7d3}
.yiwancheng_bt{width:970px;font-size: 24px;color: #60be06;text-align: center;margin-top:36px;}
.suishi{width:970px;height: 16px;line-height: 16px;text-align: center;font-size: 14px;color: #6ccee4;margin-top: 25px}
.suishi a{color:#60be06}
.weijie{width:970px;height: 16px;line-height: 16px;text-align: center;font-size: 14px;color: #6ccee4;margin-top:10px}
.tiyan{margin: 0 auto 0;width:200px;height: 40px;line-height: 40px;text-align: center;color: #fff;font-size: 14px;background: #19b2d5;margin-top: 30px;display: block}
.step_er .step_mn{display: none}
.step_er .step_block{display: block}
.guide-scroll{width:1940px}

/* 首页升级弹层css样式*/

.shengji{width:482px;height: 136px;background: #fff;padding-top: 36px;}
.shengji span{display: block;width: 482px;height:22px;line-height: 22px;text-align: center;color: #999999;font-size: 14px;margin-bottom: 12px}
.progress{width:400px;height: 6px;background: #e5e5e5;margin: 0 auto;}
.progress strong{display: block;height: 100%;float:left;background: #19b2d5}
.shengji p{height: 18px;width:482px;text-align:center;font-size: 12px; color: #ff6666;margin-top: 32px}

/* 首页升级弹层 升级提示css样式*/

.Prompt{width:410px;overflow: hidden;background:#fff;position: relative;}
.colse_df{width:33px;height: 33px;position: absolute;top:0;right: 0;background: url(../images/de_close.png) 0 0 no-repeat;}
.colse_df:hover{background: url(../images/hover.png) 0 0 no-repeat;}
.xinban{float:left;width:331px;margin-left: 48px;display:inline}
.tis{float:left;font-size: 12px;color: #999999;width:331px}
.xinban p{float: left;width: 330px;color: #555555;font-size: 14px;margin-top: 18px}

.xinban p strong{color: #555555;font-size: 14px;}
.xinban span{color: #bbbbbb}
.xinban dl{float: left;width:330px;margin-top: 20px;margin-bottom: 30px}
.xinban dl dt{width:330px;color: #555555;font-size: 14px;margin-bottom: 5px}

.xinban dl dd{width: 322px;line-height: 22px;font-size: 14px;color: #bbb;height: 22px;background: url(../images/k.png) center left no-repeat;padding-left: 8px;}
.queren{width:260px;height: 40px;margin: 0 auto 40px}
.queren a{width:120px;height: 40px;line-height: 40px;text-align: center;font-size: 14px;float: left;}
.left_di{margin-right: 20px;color:#fff;background: #19b2d5;}
.right_di{color:#f8fdfe;background: #8cd8ea;}
.cleard{clear: both}
.left_di:hover{background: #00a4cd}
.right_di:hover{background: #66c8e1}

/* 公网页面CSS开始*/
.bg_body{height: 150px;width: 100%;background:#19b2d5}
.header_top{width:970px;height:102px;padding-top: 48px; margin: 0 auto 0;}
.header_top h2{height: 30px;line-height: 30px;width:970px;text-align: center;font-size: 24px;color: #fff;margin-bottom:18px}
.header_top p{width: 970px;text-align: center;font-size: 14px;color:#bae8f2;}
.header_top p a{font-size: 16px;color: #fff;text-decoration: underline}
.min_e{width:191px;height: 17px;margin:0 auto 0;background: url(../img/m.png) 0 0 no-repeat}
.min_logo{width:120px;height: 90px;margin:0 auto 0;background: url(../img/logo_bg.png) 0 0 no-repeat}
.WeChat{width:970px;height: 172px;margin: 0 auto}
.Visit{width:272px;height: 14px;margin-left: 349px;display: inline;float:left;margin-top: 52px}
.website{float:left;width: 65px;height: 14px;line-height: 14px;text-align: center;font-size:12px;color: #3399cc;border-right:1px #6ccee4 solid;}
.wnload{width:77px;height:14px;line-height: 14px;text-align: center;font-size:12px;color: #3399cc;border-right:1px #6ccee4 solid;float: left}
.umber{float:left;width:128px;height:14px;text-align: center;font-size:12px;color: #3399cc;}
.wexin{float:left;width:124px;height: 140px;display: none}
.admin{width: 700px;height: 60px;margin: 0 auto 40px;}
.admin div{width:160px;height: 60px;line-height: 60px;text-align: center;font-size: 18px;color: #fff;float: left;}
.manner{background: #ffa366;margin-right: 20px;}
.control{background: #ff8fab;margin-right: 20px;}
.experience{background: #83c7e8;margin-right: 20px;}
.Cool{background: #7de28c;}
.Service{width: 970px;height: 14px;text-align: center;font-size: 12px;color: #6ccee4;line-height: 14px;margin: 0 auto}












  
  
  
 
 
  
 

  
 
 

  





























