<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>新闻中心</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="css/nheader.css">
<link rel="stylesheet" href="css/nstyle.css">
</head>
<body class="news_sec">
   <div class="header">
    <div class="head">
      <h1 class="logo"><a href="http://www.xunlei.com" title="迅雷网络"><img src="http://www.xunlei.com/img/n_logo.png" class="png" alt="迅雷网络"></a></h1>
      <ul class="nav_list">
        <li class="nav_li">
          <a href="http://www.xunlei.com" class="btn_nav">首页</a>
        </li>
        <li class="nav_li">
          <a href="http://dl.xunlei.com" class="btn_nav">产品中心</a>
        </li>
        <li class="nav_li">
          <a href="http://www.xunlei.com/newscenter.html" class="btn_nav" id="nav_news">新闻中心</a>
          <div class="news_nav" id="news_nav">
            <i class="ic_dot"></i>
            <i class="ic_arr"></i>
            <i class="ic_bg"></i>
            <ul id="news_snav">
              <li>
                <a href="http://www.xunlei.com/newscenter.html?type=4">官方新闻</a>
              </li>
              <li>
                <a href="http://www.xunlei.com/newscenter.html?type=3">产品动态</a>
              </li>
              <li>
                <a href="http://www.xunlei.com/newscenter.html?type=1">媒体报道</a>
              </li>
              <li>
                <a href="http://www.xunlei.com/newscenter.html?type=2">迅数榜</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrap" id="wrap">
    <div class="wrapper">
      <div class="banner_box">
               <ul id="carousel" class="banner_list"><li style="display:">
                            <a title="2018迅雷全球区块链应用大赛" target="_blank" href="https://open.onethingcloud.com/">
                                <img  alt="2018迅雷全球区块链应用大赛" src="https://img-vip-ssl.a.88cdn.com/img/banner/201807111212368352.jpg">
                            </a>                   
                        </li><li style="display:none">
                            <a title="" target="_blank" href="http://campus.xunlei.com/">
                                <img  alt="" src="http://img.vip.xunlei.com/jsqimg/webside/367f086069146a780c383b22e326d772.jpg">
                            </a>                   
                        </li><li style="display:none">
                            <a title="" target="_blank" href="http://www.xunlei.com/newscenter.html">
                                <img  alt="" src="http://img.vip.xunlei.com/img/banner/201607251312337941.png">
                            </a>                   
                        </li> </ul>
               <div class="banner_btns"><a index="0" class="png cur">1</a><a index="1" class="png ">2</a><a index="2" class="png ">3</a></div>
            </div>
      <div class="content">
        <div class="news_wp">
            <div id="content" index="0">
            <!--include virtual="/ssi/newscenter_xinwen.html"-->
           </div>
          <div class="loading_box" style="display:none" id="loading">
            <p class="txt_load"><i class="ic_load"></i>正在加载中，请稍后····</p>
          </div>
          <div class="loading_box" style="display:none" id="nomoreresults">
            <p class="txt_load">没有更多的数据了</p>
          </div>
        </div>
      </div>
      <a style="display:none" href="javascript:void(0)" class="btn_totop hide_txt png gobacktop">返回顶部</a>
    </div>
  </div>
   <div class="footer" id="footer">
    <div class="foot">
      <div class="follow_box">
        <p class="txt_follow">成为迅雷的粉丝</p>
        <div class="follow_list">
          <a href="javascript:void(0)" class="wechat hide_txt">官方微信
            <span class="code_box"><i class="ic_arr"></i><img src="https://www.xunlei.com/images/code.jpg" alt="官方微信"></span>
          </a>
          <a target="_blank" rel="nofollow"  href="http://weibo.com/xunleigf?from=myfollow_all&is_all=1" class="sina hide_txt">新浪微博</a>
          <a target="_blank" href="http://bbs.xunlei.com/forum.php" rel="nofollow" class="forum hide_txt">论坛</a>
          <a style="display: none" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=迅雷&fr=search" rel="nofollow"  class="post hide_txt">帖吧</a>
        </div>
      </div>
      <p class="main_links">
        <a href="http://www.xunlei.com/introduction.html" target="_blank">关于迅雷</a>
        <a href="http://www.xunlei.com/connection.html" target="_blank">联系我们</a>
        <a href="http://hr.xunlei.com/" rel="nofollow"  target="_blank">加入迅雷</a>
        <a href="http://help.xunlei.com/" rel="nofollow"  target="_blank">客户服务</a>
        <a href="http://yangtai.xunlei.com/" rel="nofollow"  target="_blank">迅雷阳台</a>
      </p>
      <p class="links">
        <a href="http://www.xunlei.com/images/zzdx.jpg" target="_blank">增值电信业务粤B2-20050219号</a>
        <span>|</span>
        <a target="_blank" href="http://www.xunlei.com/images/wlwh.jpg">粤网文[2016]0901-125号</a>
        <span>|</span>
        <a target="_blank" href="http://www.xunlei.com/images/yp.jpg">广电节目经营(粤)字第786号-20050219号</a>
        <span>|</span>
        <a target="_blank" href="http://www.xunlei.com/images/cbxkz.jpg">互联网出版(粤)字053号</a>
      </p>
      <p>Copyright &copy; 2003-2019 XUNLEI.COM All Rights Reserved</p>
    </div>
  </div>
  
  <div style="display:none">
  <script type="text/javascript" src="https://vip.xunlei.com/js/anal_vip_homepage.js"></script>
  <script type="text/javascript" src="https://act-vip-ssl.xunlei.com/common/pv/pv_min.js"></script>
</div>
 <script type="text/template" id="news-template">
<% for(var i = 0 , length = data.length ; i < length ; ++ i){ %>
  <div class="news_feed" id="<%= data[i].id %>">
    <div class="news_tt">
      <h2><a target="_blank" href="/newscenter/news/<%= data[i].id %>.html"><%= data[i].title %></a></h2>
      <p class="txt_brief clearfix">
        <span><a href="/newscenter/news.html?type=<%= data[i].type.split('_')[0] %>" class="txt_type <%= data[i].type.split('_')[2] %>"><%= data[i].type.split('_')[1] %></a></span>
        <span class="txt_time"><%= data[i].date %></span>
        <span class="txt_read"><i class="ic_read png"></i><em name="views-time">0</em></span>
      </p>
    </div>
    <% if(data[i].img){ %>
    <div class="news_cont">
      <a target="_blank" href="/newscenter/news/<%= data[i].id %>.html"><img src="<%= data[i].img %>"></a>
    </div>
    <% } %>   
     <div class="news_cont">
      <p class="txt_news"><%= data[i].desc %></p>
    </div>
    <div class="news_bot clearfix">
      <a target="_blank" href="/newscenter/news/<%= data[i].id %>.html" class="btn_read">阅读全文&gt;&gt;</a>
    </div>
  </div>
<% } %>


</script>
 <script type="text/javascript" src="/js/news_data.js"></script>
<script src="js/jquery.js"></script>
<script src="js/gallery.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/scrollpagination.js"></script>
<script src="js/scrolltop.js"></script>
<script src="js/news.js"></script>


<script>
  (function(){
    var $hNav=$("#news_snav"),
        $hNavli=$hNav.find("li"),
        $hSubnav=$("#h_subnav"),       
        $newsNav=$("#news_nav"),
        $hdot=$newsNav.find(".ic_dot");
    //导航事件
    var h=$newsNav.find("li").height();
    var t=85+h/2-$hdot.height()/2;
    $("#nav_news").on("mouseenter",function(){
      $newsNav.addClass("news_on");
    });
    $newsNav.on("mouseleave",function(){
      $newsNav.removeClass("news_on");
      $hdot.css({top:t,left:-9999});
    })
    $hNavli.on("mouseenter",function(){
      $hdot.css({left: 32,top:t+$hNavli.index(this)*h});
    });
    $hNav.on("mouseleave",function(){
      $hdot.css({top:t,left:-9999});
    });
  })();
</script>
<!--[if IE 6]>
<script type="text/javascript" src="http://static.webgame.kanimg.com/com/DD_PNG_min.js"></script>
<script type="text/javascript">
  var links=document.getElementsByTagName("a");
  for(var i=0,l=links.length;i<l;i++){
    links[i].setAttribute("hideFocus",true);
  }
</script>
<![endif]--> 
</body>
</html>
