a:link {
	font-family: "ו";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	font-family: "ו";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	font-family: "ו";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #fdf7a7;
	text-decoration: none;
}
